:root {
    --SPACE: 17px;
    --BORDER-SIZE: 2px;
    --BORDER-COLOR: #000000;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(172, 157, 137);
}

#backpanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding: var(--SPACE);
    gap: var(--SPACE);

    margin: 0% 33%;
    aspect-ratio: 5 / 7;
    background-color:rgb(23, 22, 22);
    border: var(--BORDER-SIZE) solid var(--BORDER-COLOR);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Calculator DISPLAY */

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    gap: 10px;
    padding: 10px;
    background-color: rgb(214, 212, 212);
    border: var(--BORDER-SIZE) solid var(--BORDER-COLOR);
    border-radius: 20px;
}

#display .previousInput {
    display: flex;
    justify-content: end;
    align-items: end;
    flex: 1;
    color: #383838;
    font-size: 30px;
}

#display .currentInput {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-wrap: wrap;
    flex: 1.2;
    font-size: 50px;
}

/* Calculator INPUTS */

#calculatorInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 3;
    gap: var(--SPACE);
}

#calculatorInputs .row {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: stretch;
    flex: 1;   
    gap: var(--SPACE);
}

#calculatorInputs .row .INPUT {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #68cd32;
    border: var(--BORDER-SIZE) solid var(--BORDER-COLOR);
    border-radius: 30px;
    font-size: 20px;
    aspect-ratio: 1.5 / 1;
}

#calculatorInputs .row .INPUT:hover {
    background-color: #88ff48;
}

#calculatorInputs .row.ONE .INPUT {
    aspect-ratio: 3 / 1;
}